repository:
  name: template
  description: Project Template
  homepage: https://templates.lszj.org
  topics: templates
  default_branch: main
  private: false

  allow_squash_merge: false
  allow_merge_commit: false
  allow_rebase_merge: true
  delete_branch_on_merge: true

  has_issues: true
  has_downloads: true
  has_projects: false
  has_wiki: false


labels:
  - name: bug
    description: Something is not working
    color: CC0000
  - name: feature
    description: New feature or improvement
    color: 00CC33
  - name: docs
    description: Improvements or additions to documentation
    color: 7700CC
  - name: question
    description: Further information is requested
    color: 00AACC
  - name: good first issue
    description: Good for newcomers
    color: 33CC00
  - name: deps
    description: Update dependencies
    color: CC0066
  - name: help needed
    description: Need help from community
    color: CCBB00
  - name: invalid
    description: This does not seem right
    color: CCCCCC
  - name: duplicate
    description: This issue or pull request already exists
    color: CCCCCC
  - name: wontfix
    description: This will not be worked on
    color: CCCCCC


branches:
  - name: main
    protection:
      required_pull_request_reviews:
        required_approving_review_count: 1
        require_code_owner_reviews: true
        require_last_push_approval: true
        dismiss_stale_reviews: true
      required_conversation_resolution: true
      required_status_checks:
        strict: true
        contexts:
          - check
          - check-parents
      required_linear_history: true
      allow_force_pushes: true
      allow_deletions: false
      lock_branch: false
      restrictions: null
      enforce_admins: null
