# Ignore built files
/hello

# Ignore dist files
/project_name
/project_name-*
/project_name.*

# Ignore documentation
/docs
/README.md

# Ignore git files
/.git
/.gitignore

# Ignore CI/CD files
/.github/actions
/.github/workflows

# Ignore repository configuration
/.github
